$primary-color: #FFFFFF;
$secondary-color: #f8f8f8;
$input-color: #f0f2f5;
$primary-text-color: #000000;
$secondary-text-color: #5e5e5e;
$hover-color: #278ae7;
$shadow-color: #cacaca;

$transition-duration: 0.2s;