// ==INPUT BOX==
@import './colors.scss';

.input-box-container {
  .error-display {
    color: $error-color;
    font-size: 0.7rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
  }

  &.centered {
    input {
      padding-left: 0;
      text-align: center;
    }
  }

  input {
    font-size: 0.8rem;
    width: 100%;
    height: 2rem;
    border: 2px solid $input-color;
    background-color: $input-color;
    outline: none;
    padding-left: 0.5rem;
    border-radius: 10px;
    transition: all $transition-duration;

    &:hover {
      border-color: $shadow-color;
    }

    &:focus {
      border-color: $hover-color;
    }
  }
}