// ==INPUT BOX==
$hover-color: #0f93eb;
$secondary-text-color: #808080;

.input-box-container {
  height: 2rem;
  position: relative;
  font-size: 0.8rem;

  input {
    width: 100%;
    height: 100%;
    border: 2px solid #ffffff;
    outline: none;
    padding-left: 0.5rem;
    border-radius: 10px;
    transition: all 0.3s;

    &:hover, &:focus {
      border-color: $hover-color;
    }
  }
}