// ==INPUT BOX==
@import './colors.scss';

.input-box-container {
  height: 2rem;
  position: relative;

  input {
    font-size: 0.8rem;
    width: 100%;
    height: 100%;
    border: 2px solid $input-color;
    background-color: $input-color;
    outline: none;
    padding-left: 0.5rem;
    border-radius: 10px;
    transition: all 0.3s;

    &:hover, &:focus {
      border-color: $hover-color;
    }
  }
}