@import './colors.scss';

.events-page {
  width: 100vw;
  height: calc(100vh - #{$navbar-height});
  background-color: $secondary-color;
  display: grid;
  grid-template-columns: 60% auto;
  align-items: center;

  .admin-main-container {
    pointer-events: none;
    width: 100vw;
    height: calc(100vh - #{$navbar-height});
    position: absolute;

    * { transition: all $transition-duration; }

    .background {
      &.active {
        opacity: 0.5;
        pointer-events: all;
      }

      position: absolute;
      background-color: #000000;
      width: 100%;
      height: calc(100% + #{$navbar-height});
      margin-top: calc(-1 * #{$navbar-height});
      opacity: 0;
      z-index: 5;
      pointer-events: none;
    }

    .admin-container {
      pointer-events: all;
      position: absolute;
      transition: all $transition-duration;
      z-index: 5;
      top: 2rem;
      right: 4rem;

      background-color: $primary-color;
      box-shadow: 0 1px 5px 0px $shadow-color;
      border-radius: 20px;

      width: auto;
      height: auto;
      padding: 1rem;
  
      .title-container {
        transition: all $transition-duration;
        display: flex;
        width: auto;
        height: 1.4rem;
        &.active {
          height: 2rem;
        }
        align-items: center;
        gap: 0.5rem;
        
        .admin-icon {
          color: $hover-color;
          width: 1.6rem;
          height: 1.6rem;
          cursor: pointer;
  
          &:hover {
            transform: scale(1.1, 1.1);
          }
        }
        p {
          color: $primary-text-color;
          font-size: 0.8rem;
        }
      }
  
      .body-container {
        display: grid;
        margin-top: 0.5rem;
        grid-template-columns: 18rem 1rem 29rem;
        $column-height: auto;
        grid-template-rows: $column-height 4rem;
        
        .column-1 {
          grid-column: 1 / span 1;
          grid-row: 1 / span 1;
          width: 100%;
          height: $column-height;
        }

        .column-2 {
          grid-column: 3 / span 1;
          grid-row: 1 / span 1;
          width: 100%;
          height: $column-height;
        }
        
        .subheader {
          font-weight: bold;
          color: $secondary-text-color;
          font-size: 0.8rem;
          margin: 1rem 0 0.5rem 0.3rem;
        }

        .inputs-container {
          display: flex;
          align-items: flex-end;
          width: 100%;
          gap: 1rem;

          &.sub {
            p {
              width: 9.7rem;
            }
          }
        }

        .error-display {
          color: $error-color;
          font-size: 0.7rem;
          font-weight: bold;
          margin-bottom: 0.2rem;
        }
  
        .textarea-container {
          width: 29rem;
          font-size: 0.8rem;
          height: 11.25rem;
          position: relative;

          .char-count-indicator {
            color: $secondary-text-color;
            position: absolute;
            right: 0.5rem;
            bottom: 0.5rem;
          }
          
          textarea {
            width: 100%;
            height: 100%;
            font-size: 0.8rem;
            border: 2px solid $input-color;
            background-color: $input-color;
            outline: none;
            padding: 0.5rem;
            padding-bottom: 1.8rem;
            border-radius: 10px;
            transition: all $transition-duration;
            resize: none;
            white-space: pre-wrap;
  
            &:hover {
              border-color: $shadow-color;
            }
  
            &:focus {
              border-color: $hover-color;
            }
          } 
        }

        .checkbox {
          width: 100%;
          height: 2rem;
          display: flex;
          align-items: center;
          margin-top: 0.5rem;

          p {
            color: $secondary-text-color;
            font-size: 0.8rem;
          }

          .icon-container {
            transition: all $transition-duration;
            user-select: none;
            color: $secondary-text-color;
            cursor: pointer;
            margin-right: 0.3rem;
            height: 2rem;
            width: 2rem;
            transform: rotate(-90deg);

            &.active {
              color: $hover-color;
              transform: rotate(0deg);
            }

            .icon {
              transition: all $transition-duration;
              height: 100%;
              width: 100%;

              &:hover {
                transform: scale(1.1, 1.1);
              }
            }
          }          
        }
  
        .btns-container {
          grid-row: 2 / span 1;
          grid-column: 1 / span 3;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 0.5rem;
          height: 3rem;
          margin-top: 1rem;
  
          .btn {
            width: 3rem;
            height: 100%;
            font-size: 1rem;
            cursor: pointer;
            color: $secondary-text-color;
  
            transition: all $transition-duration;
  
            &:hover {
              &.apply {
                color: $hover-color;
              }
  
              &.cancel {
                color: $primary-text-color;
              }
  
              transform: scale(1.2, 1.2);
            }
          }
        }
      }
    }
  }

  .events-container {
    grid-row: 1 / span 1;
    border-radius: 40px;
    width: calc(100% - 4rem);
    margin-left: 4rem;
    height: 80vh;
    background-color: $primary-color;
    box-shadow: 0 1px 5px 0px $shadow-color;

    display: grid;
    grid-template-rows: 5rem 3rem auto;
    padding: 1rem;
    padding-top: 0;

    .title-container {
      display: flex;
      align-items: center;
      margin-left: 0.5rem;
      h1 {
        font-size: 2.6rem;
        vertical-align: top;
        font-weight: bold;
        color: $primary-text-color;
        display: flex;
        
        p {
          margin-left: 1rem;
          font-size: 2rem;
          color: $hover-color;
          margin-top: 0.8rem;
        }
      }
    }

    .filter-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 2rem;
      position: relative;

      .time-container {
        transition: all $transition-duration;
        z-index: 1;
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        color: $secondary-text-color;
        margin-right: 0.5rem;
        user-select: none;

        p {
          color: $secondary-text-color;
          font-size: 0.8rem;
        }

        .icon-container {
          transition: all $transition-duration;
          user-select: none;
          color: $secondary-text-color;
          cursor: pointer;
          margin-right: 0.3rem;
          height: 2rem;
          width: 2rem;
          transform: rotate(-90deg);

          &.active {
            color: $hover-color;
            transform: rotate(0deg);
          }

          .icon {
            transition: all $transition-duration;
            height: 100%;
            width: 100%;

            &:hover {
              transform: scale(1.1, 1.1);
            }
          }
        }    
      }

      .search-container {
        $container-width: 40%;
        $container-height: 2rem;
        width: $container-width;
        height: $container-height;
        z-index: 1;

        input {
          width: 100%;
          height: 100%;
          border: 2px solid $input-color;
          background-color: $input-color;
          outline: none;
          padding-left: 2rem;
          font-size: 0.8rem;
          border-radius: 10px;

          transition: all $transition-duration;

          &:hover {
            border-color: $shadow-color;
          }

          &:focus {
            border-color: $hover-color;
            padding-left: 0.5rem;
          }
        }

        .search-btn {
          transition: all $transition-duration;

          &.hover {
            color: $hover-color;
            transform: scale(1.2, 1.2);
          }

          &.focused {
            opacity: 0;
          }

          position: absolute;
          color: $secondary-text-color;
          height: 1rem;
          left: 0.5rem;
          top: 0.5rem;
        }
      }        
    }

    .list-container {
      background-color: $secondary-color;
      border: 4px solid $secondary-color;
      border-radius: 35px;
      padding: 1rem;
      padding-bottom: 0;
      overflow: overlay;

      .no-events-indicator {
        font-size: 0.8rem;
        text-align: center;
        margin-top: 1rem;
        color: $secondary-text-color;
      }
      
      .event-tag {
        $event-tag-size: 250px;

        margin-bottom: 1rem;
        background-color: $primary-color;
        padding: 1.4rem;
        border-radius: 20px;
        height: $event-tag-size;
        position: relative;
        border: 2px solid transparent;

        cursor: pointer;

        display: flex;
        box-shadow: 0 1px 5px 0px $shadow-color;

        &.highlight {
          background-color: $input-color;
        }

        &:hover {
          border: 2px solid $hover-color;
        }

        .picture {
          border: 2px solid $primary-color;
          background-color: $input-color;
          height: calc(#{$event-tag-size} - 2.8rem);
          width: calc(#{$event-tag-size} - 2.8rem);
          border-radius: 15px;
        }

        .info-container {
          margin-left: 1.4rem;
          height: calc(#{$event-tag-size} - 2.8rem);
          width: calc(100% - #{$event-tag-size});

          h1 {
            &.hovering {
              color: $hover-color;
            }
            font-size: 1.4rem;
            margin-bottom: 0.4rem;
            color: $primary-text-color;
          }

          p {
            &.subtitle {
              &.hovering {
                color: $primary-text-color;
                font-weight: bold;
              }
              margin-bottom: 1.4rem;
            }
            color: $secondary-text-color;
            font-size: 0.8rem;
            overflow: hidden;
            white-space: pre-wrap;
            max-height: 6.8rem;
          }
        }

        .favorite-indicator {
          transition: all $transition-duration;
          font-size: 0.8rem;
          color: $hover-color;
          position: absolute;
          right: 40px;
          top: 22px;
          font-weight: bold;
          opacity: 0;

          &.favorited {
            color: $secondary-text-color;
          }

          &.hovering {
            opacity: 1;
            right: 50px;
          }
        }

        .favorite-btn {
          transition: all $transition-duration;
          position: absolute;
          width: 30px;
          height: 30px;
          background-color: transparent;
          color: $secondary-text-color;
          right: 15px;
          top: 15px;
          border-radius: 50%;

          &.favorited {
            color: $hover-color;
          }

          &:hover {
            &.favorited {
              color: $hover-color;
            }
            color: $secondary-text-color;
            transform: scale(1.1, 1.1);
          }
        }
      }
    }
  }

  
  .event-details-container {
    grid-column: 2 / span 1;
    border-radius: 40px;
    margin-left: 2rem;
    width: calc(100% - 6rem);
    height: 70vh;
    background-color: $primary-color;
    box-shadow: 0 1px 5px 0px $shadow-color;

    display: grid;
    grid-template-rows: 5rem 1rem auto minmax(0, 1fr);
    grid-template-columns: 100%;
    padding: 1rem;
    padding-top: 0;

    .unselected-indicator {
      font-size: 0.8rem;
      color: $secondary-text-color;
      text-align: center;
      margin-top: 2rem;
    }

    .title-container {
      width: 100%;
      grid-row: 1 / span 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 0.5rem;
      border-bottom: 2px solid $shadow-color;

      h1 {
        font-size: 2rem;
        vertical-align: top;
        font-weight: bold;
        color: $primary-text-color;
      }

      .show-interest-btn {
        width: 2rem;
        height: 2rem;
        user-select: none;
        color: $hover-color;
        cursor: pointer;
        margin-right: 0.3rem;

        .icon {
          width: 100%;
          height: 100%;
          transition: all $transition-duration;
          &:hover {
            transform: scale(1.1, 1.1);
          }
        }
      }
    }

    .details-container {
      grid-row: 3 / span 1;
      overflow: hidden;
      padding: 0 0.5rem;
      
      h1 {
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
        color: $hover-color;
      }

      p {
        font-size: 0.8rem;
        color: $primary-text-color;
        overflow-wrap: break-word;
        white-space: pre-wrap;
      }

      .interested-container {
        display: flex;
        align-items: flex-end;
        height: 1.4rem;
        font-style: italic;

        .indicator {
          font-style: normal;
          height: 1.8rem;
          font-size: 1.4rem;
          color: $hover-color;
          font-weight: bold;
          margin-right: 0.2rem;
        }
      }

      .subheader {
        font-weight: bold;
        margin-bottom: 0.5rem;
      }

      .description {
        margin: 1.2rem 0;
      }
    }

    .body-container {
      grid-row: 4 / span 1;
      overflow: overlay;
      margin-top: 1rem;

      .description {
        padding: 0 0.5rem;
        font-size: 0.8rem;
        color: $primary-text-color;
        overflow-wrap: break-word;
        white-space: pre-wrap;
      }

      .roster-container {
        width: 100%;
        height: 100%;
        background-color: $secondary-color;
        border: 4px solid $secondary-color;
        border-radius: 30px;
        overflow: overlay;
        padding: 1rem;
        padding-bottom: 0;
  
        .user-tag-container {
          margin-bottom: 1rem;
          background-color: $primary-color;
          box-shadow: 0 1px 5px 0px $shadow-color;
          border-radius: 20px;
          display: flex;
          cursor: pointer;
  
          .picture-container {
            width: 6rem;
            height: 6rem;
            background-color: $input-color;
            border-radius: 15px;
            margin: 1rem;
          }
  
          .info-container {
            width: calc(100% - 8rem);
            height: calc(100% - 2rem);
            margin: 1rem 0;
  
            h1 {
              font-size: 1.4rem;
              color: $primary-text-color;
              margin-bottom: 0.5rem;
            }
  
            p { 
              font-size: 0.8rem;
              color: $secondary-text-color;
            }
          }
        }
      }
    }
  }
}