@import './colors.scss';

//update title

.navbar-page {
  background-color: $secondary-color;
  height: $navbar-height;
  width: 100vw;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    height: calc(#{$navbar-height} - 5px);
    background-color: $primary-color;
    box-shadow: 0 1px 5px 0px $shadow-color;

    .logo-container {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: $hover-color;
      font-weight: bold;
      font-size: 1.4rem;
    }

    .links-container {
      display: flex;
      align-items: center;
      gap: 4rem;

      li {
        text-decoration: none;
        list-style-type: none;
        font-weight: bold;
        color: $primary-text-color;
        cursor: pointer;
        border-radius: 10px;

        border: 2px solid transparent;

        transition: all $transition-duration;

        &:hover {
          color: $hover-color;
          border-bottom: 2px solid $hover-color;
          border-top: 2px solid $hover-color;
          padding: 0.3rem 0;
        }
      }

      .profile-container {
        display: flex;
        height: 100%;
        align-items: center;

        .admin-icon {
          color: $hover-color;
          margin-right: 0.5rem;
          font-size: 2rem;
        }
  
        .name-container {
          text-align: right;
          margin-right: 1rem;
  
          .header {
            font-size: 0.8rem;
            font-weight: bold;
            color: $hover-color;
            
            &:hover {
              color: $secondary-text-color;
            }
          }
          .subheader {
            font-size: 0.7rem;
            color: $secondary-text-color;
            cursor: pointer;

            &:hover {
              font-weight: bold;
            }
          }
        }
  
        .profile-icon {
          transition: all $transition-duration;
          height: calc(#{$navbar-height} - 20px);
          width: calc(#{$navbar-height} - 20px);
          background-color: $input-color;
          box-shadow: 0 1px 5px 0px $shadow-color;
          border-radius: 10px;
          border: 2px solid transparent;

          &:hover {
            border: 2px solid $shadow-color;
          }
        }
      }
    }
  }
}
