@import './colors.scss';

// ! LOGIN PAGE
.login-page {
  h1 {
    color: black;
  }
}


// ! PROFILE PAGE
.profile-page {
  //------------------VARIABLES------------------//

  //leftside info container
  $info-container-width: 25rem;
  $info-container-offset: 3rem;

  //profile picture
  $profile-picture-border-radius: 40px;
  $profile-picture-length: 300px;
  $profile-picture-border-length: 30px;

  //info sub container
  $info-sub-top-length: 100px;

  $main-containers-border-radius: 30px;
  //---------------------------------------------//

  display: grid;
  grid-template-columns: $info-container-width auto;
  grid-template-rows: 100%;
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: $secondary-color;

  .info-page-container {
    grid-column: 1 / span 1;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;

    .picture-container {
      height: $profile-picture-length;
      width: calc(100vw - 100px);
      background-color: transparent;
      display: flex;
      justify-content: left;
      border-radius: $profile-picture-border-radius + 10px;
      margin: 30px 0 0 0;
      z-index: 1;

      .profile-picture-container {
        .profile-picture {
          background-color: $primary-color;
          height: calc(100% - #{$profile-picture-border-length});
          width: calc(100% - #{$profile-picture-border-length});
          border-radius: $profile-picture-border-radius;
          box-shadow: 0 1px 5px 0px $shadow-color;
        }

        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $profile-picture-border-radius + 10px;
        background-color: $secondary-color;
        box-shadow: 0 0 5px 1px $secondary-color;
        height: 100%;
        width: $profile-picture-length;
      }

      .title-container {
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 2rem;

        h1 {
          font-size: 4rem;
        }

        p {
          font-size: 1.4rem;
          color: $secondary-text-color;
        }

        .bio-text {
          font-size: 0.8rem;
          margin-bottom: 0.5rem;
          font-style: italic;
          width: calc(100vw - 2 * #{$profile-picture-length});
        }
      }
    }

    .info-sub-container {
      position: relative;
      border-radius: $main-containers-border-radius;
      background-color: $primary-color;

      margin: -$info-sub-top-length 0 $info-container-offset calc(#{$info-container-offset} + 1rem);
      width: calc(#{$info-container-width} - 2 * #{$info-container-offset});
      height: calc(100vh - #{$profile-picture-length} + #{$info-sub-top-length} - 80px);

      display: flex;
      flex-direction: column;
      align-items: center;
      
      box-shadow: 0 1px 5px 0px $shadow-color;

      .settings-btn {
        position: absolute;
        right: 20px;
        top: 20px;
        color: $secondary-text-color;
        height: 30px;
        width: 30px;
        border-radius: 50px;
        z-index: 1;
        transition: all 0.3s;

        &:hover {
          color: $hover-color;
          cursor: pointer;
          transform: rotate(90deg) scale(1.2, 1.2);
        }
      }

      .info-box {
        &.first {
          margin-top: calc(#{$info-sub-top-length} + 1rem);
        }

        .title {
          color: $primary-text-color;
          font-size: 1.4rem;
          font-weight: bold;
          margin-bottom: 0.4rem;
        }

        p {
          font-size: 0.8rem;
          color: $secondary-text-color;
        }

        margin: 0.5rem 0 0.5rem 0;
        padding: 0.5rem 1rem 0.6rem 1rem;
        background-color: $secondary-color;
        width: calc(100% - 2rem);
        height: auto;
        border-radius: 18px;
      }
    }
  }

  .events-page-container {
    grid-column: 2 / span 1;

    .events-container {
      margin: calc(#{$profile-picture-length} - 70px) 4rem 0 4rem;
      border-radius: $main-containers-border-radius;
      width: calc(100% - 8rem);
      height: calc(100% - #{$profile-picture-length} + 20px);
      background-color: $primary-color;
      box-shadow: 0 1px 5px 0px $shadow-color;

      display: grid;
      grid-template-rows: 5rem 3rem auto;
      padding: 1rem;
      padding-top: 0;

      .title-container {
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
        h1 {
          font-size: 2.6rem;
          vertical-align: top;
          font-weight: bold;
        }
      }

      .filter-container {
        display: flex;
        align-items: top;

        .search-container {
          $container-width: 40%;
          $container-height: 2rem;
          width: $container-width;
          height: $container-height;
          z-index: 1;
          position: relative;

          input {
            width: 100%;
            height: 100%;
            border: 2px solid $input-color;
            background-color: $input-color;
            outline: none;
            padding-left: 2rem;
            font-size: 0.8rem;
            border-radius: 10px;

            transition: all 0.3s;

            &:hover, &:focus {
              border-color: $hover-color;
            }

            &:focus {
              padding-left: 0.5rem;
            }
          }

          .search-btn {
            transition: all 0.3s;

            &.hover {
              color: $hover-color;
              transform: scale(1.2, 1.2);
            }

            &.focused {
              opacity: 0;
            }

            position: absolute;
            color: $secondary-text-color;
            height: 1rem;
            left: 0.5rem;
            top: 0.5rem;
          }
        }        
      }

      .list-container {
        background-color: $secondary-color;
        border: 4px solid $secondary-color;
        border-radius: $main-containers-border-radius - 5px;
        padding: 1rem;
        padding-bottom: 0;
        overflow: auto;
        
        .event-tag {
          $event-tag-size: 250px;

          margin-bottom: 1rem;
          background-color: $primary-color;
          padding: 1.4rem;
          border-radius: 20px;
          height: $event-tag-size;
          position: relative;

          display: flex;
          box-shadow: 0 1px 5px 0px $shadow-color;

          .picture {
            background-color: $secondary-color;
            height: calc(#{$event-tag-size} - 2.8rem);
            width: calc(#{$event-tag-size} - 2.8rem);
            border-radius: 15px;
          }

          .info-container {
            margin-left: 1.4rem;
            height: calc(#{$event-tag-size} - 2.8rem);
            width: calc(100% - #{$event-tag-size});

            h1 {
              font-size: 1.4rem;
              margin-bottom: 0.4rem;
            }

            p {
              &.subtitle {
                margin-bottom: 1.4rem;
              }
              color: $secondary-text-color;
              font-size: 0.8rem;
            }
          }

          .exit-button {
            position: absolute;
            width: 50px;
            height: 50px;
            background-color: $secondary-color;
            right: 10px;
            top: 10px;
            border-radius: 10px;

            &:hover {
              background-color: $hover-color;
            }
          }
        }
      }
    }
  }

  .settings-page-container {
    width: 100vw;
    height: 100vh;
    position: absolute;

    visibility: hidden;
    &.active {
      visibility: visible;
    }

    .background {
      transition: all 0.3s;

      &.active {
        opacity: 0.5;
      }

      position: absolute;
      background-color: #000000;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 1;
    }

    .settings-container {
      transition: all 0.3s;
      &.active {
        transform: translateX(0);
      }
      transform: translateX(-30rem); 

      position: absolute;
      width: 22rem;
      height: calc(100% - 6rem);
      margin: 3rem 0 0 3rem;
      background-color: $primary-color;
      z-index: 2;
      border-radius: $main-containers-border-radius;
      padding: 1rem;

      display: grid;
      grid-template-rows: 4rem auto 4rem;

      .title-container {
        grid-row: 1 / span 1;
        margin-left: 0.5rem;
        display: flex;
        align-items: center;
        font-size: 1.4rem;
      }

      .list-container {
        margin-top: 1rem;
        grid-row: 2 / span 1;
        overflow: auto;
        border-top: $secondary-text-color solid 2px;
        border-bottom: $secondary-text-color solid 2px;

        .inputs-container {
          display: flex;
          width: 100%;
          gap: 1rem;
        }
  
        .subheader {
          font-weight: bold;
          color: $secondary-text-color;
          font-size: 0.8rem;
          margin: 1rem 0 0.5rem 0.3rem;
        }
      }

      .btns-container {
        grid-row: 3 / span 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0.5rem;
        height: 3rem;
        margin: 1rem 0;

        .btn {
          width: 3rem;
          height: 100%;
          font-size: 1rem;
          cursor: pointer;
          color: $secondary-text-color;

          transition: all 0.3s;

          &:hover {
            &.apply {
              color: $hover-color;
            }

            &.cancel {
              color: $primary-text-color;
            }

            transform: scale(1.2, 1.2);
          }
        }
      }
    }
  }
}