@import './colors.scss';

.quad-page {
  width: 100vw;
  height: calc(100vh - #{$navbar-height});
  background-color: $secondary-color;
  display: grid;
  grid-template-columns: auto;
  // align-items: center;

  .calendar-container {
    grid-column: 1 / span 1;
    margin: 4rem;

    background-color: $primary-color;
    box-shadow: 0 1px 5px 0px $shadow-color;
    border-radius: 40px;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 5rem auto;

    .title-container {
      grid-column: 1 / span 7;
      grid-row: 1 / span 1;
      border: 1px dashed red;
      display: flex;
      gap: 1rem;

      .next-btn, .prev-btn, .today-btn {
        cursor: pointer;
        user-select: none;
      }
    }

    .column {
      border: 1px dashed red;
      grid-row: 2 / span 1;

      background-color: $secondary-color;
      border-radius: 20px;
      margin: 1rem 0.5rem;
    }
  }
}